@charset "UTF-8";
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/* -------------------------------------------
base
---------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #282F35;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

.sp {
  display: none;
}

/* -------------------------------------------
base
---------------------------------------------- */
/* -------------------------------------------
header
---------------------------------------------- */
.inner {
  max-width: 117rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
}

.change-color {
  background: #282F35;
}

/* -------------------------------------------
ハンバーガーメニュー
---------------------------------------------- */
.menu__btn {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.menu__btn span,
.menu__btn span:before,
.menu__btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu__btn span:before {
  bottom: 8px;
}

.menu__btn span:after {
  top: 8px;
}

#menu__btn--check:checked ~ .menu__btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu__btn--check:checked ~ .menu__btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu__btn--check:checked ~ .menu__btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* ボタンがタップされたとき三本線を「×」マークにするための記述 */
#menu__btn--check {
  display: none;
}

/* チェックボックスを消す */
.menu__sp {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu__item--sp {
  list-style: none;
}

.menu__link--sp {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 2.5rem 0;
  position: relative;
}

.menu__content {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background: #282F35;
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu__btn--check:checked ~ .menu__content {
  left: 0;
  /*メニューを画面内へ*/
}

/* -------------------------------------------
ハンバーガーメニュー
---------------------------------------------- */
/* -------------------------------------------
モジュール
---------------------------------------------- */
.title {
  display: flex;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
}

.title::after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  margin-left: 4.9rem;
  background-color: #282F35;
}

.bg__txt {
  font-size: 9rem;
  font-weight: bold;
  color: #171717;
  opacity: 0.05;
}

/* -------------------------------------------
モジュール
---------------------------------------------- */
/* -------------------------------------------
header
---------------------------------------------- */
.header {
  position: fixed;
  width: 100%;
  transition: all .3s;
  z-index: 10;
}

.header__site-title {
  font-size: 2.6rem;
}

.header__nav {
  display: flex;
  align-items: center;
  height: 96px;
}

.header__nav-item + .header__nav-item {
  margin-left: 3rem;
}

.header__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1.6rem;
}

/* margin-left auto と　li+liでmargin-leftが入るので、menuを追加しても崩れない */
/* -------------------------------------------
header end
---------------------------------------------- */
/* -------------------------------------------
ボタン
---------------------------------------------- */
.btn__link {
  display: inline-block;
  width: 23.5rem;
  padding: 1.75rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #171717;
  border: 2px solid transparent;
  border-radius: 5.9rem;
  text-align: center;
  background-color: #F7D43F;
  transition: .23s;
  box-sizing: border-box;
}

.btn__link:hover,
.btn__link:focus {
  background-color: transparent;
  border-color: #F7D43F;
  color: #F7D43F;
}

/* -------------------------------------------
ボタン
---------------------------------------------- */
/* MV
===========================*/
.MV {
  position: relative;
  background: url(../../../images/top/fv-bgi_01@2x.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.MV .inner {
  padding-bottom: 17.8rem;
}

.MV__txt {
  display: inline-block;
  text-align: center;
}

.MV__title {
  padding-top: 33.8rem;
  font-size: 7rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.MV__sub-title {
  margin-top: 3.4rem;
  font-size: 4rem;
  letter-spacing: 0.05em;
  font-family: 'Noto Serif JP', serif;
}

/* MV end
===========================*/
/* concept
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.concept {
  text-align: center;
}

.concept .inner {
  padding-top: 12rem;
  padding-bottom: 7.4rem;
}

.title {
  padding-left: 10rem;
  margin-bottom: 9.6rem;
}

.sub-title {
  font-size: 3rem;
}

.concept .box {
  display: flex;
  align-items: center;
  padding: 6rem 10rem 10rem;
}

.concept__txt {
  width: 44rem;
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.875;
}

.concept__img {
  width: 44rem;
  margin-left: auto;
}

.concept .bg__txt {
  text-align: right;
}

/* concept end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* works
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.works {
  background: url(../../images/top/works-bgi@2x.jpg) no-repeat center;
  background-size: cover;
}

.works .inner {
  padding-top: 12.4rem;
  padding-bottom: 8rem;
}

.works .title {
  color: #fff;
  justify-content: flex-end;
}

.works .title::after {
  background-color: #fff;
}

/* card */
.card__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

.card {
  width: 32rem;
  margin-bottom: 2rem;
  background-color: #fff;
}

.card__txt {
  padding: 3rem 2.1rem;
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.875;
}

.btn {
  text-align: center;
  margin-bottom: 9.7rem;
}

/* card end*/
.works .bg__txt {
  color: #fff;
  opacity: 0.1;
}

/* works end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* service
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.service .inner {
  padding-top: 11.8rem;
  padding-bottom: 8rem;
}

.service .container {
  padding-top: 11.8rem;
  padding-bottom: 8rem;
}

.service__container {
  display: flex;
  justify-content: center;
}

.service__box {
  position: relative;
  width: 100%;
}

.service__txt {
  position: absolute;
  display: flex;
  top: 0%;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.service__txt:hover {
  background: #282F35;
  opacity: 0.7;
  transition: .3s;
}

.service .bg__txt {
  text-align: right;
  margin-top: 10rem;
}

/* service end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* contact
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.contact {
  background: url(../../../images/top/contact-bgi@2x.jpg) no-repeat center;
  background-size: cover;
}

.contact .inner {
  padding-top: 12.8rem;
  padding-bottom: 8.6rem;
}

.contact .title {
  color: #fff;
  justify-content: flex-end;
  margin-bottom: 10rem;
}

.contact .title::after {
  background-color: #fff;
}

.contact__txt {
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.contact .bg__txt {
  color: #fff;
}

/* contact end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* footer
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.footer {
  height: 7.9rem;
  text-align: center;
  line-height: 7.9rem;
}

.copy {
  font-size: 1.4rem;
}

/* footer end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.u-hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .u-hidden-sp {
    display: none !important;
  }
}

@media null {
  .u-hidden-tab {
    display: none !important;
  }
}

@media null {
  .u-hidden-pc {
    display: none !important;
  }
}

.u-mb-10 {
  margin-bottom: 10px !important;
}
/*# sourceMappingURL=style.css.map */