/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/* base */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #282F35;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

/* base */
/* -------------------------------------------
header
---------------------------------------------- */
.l-wrap {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: all .3s;
}

.header .sp {
  display: none;
}

.header__inner {
  display: flex;
  width: 117rem;
  margin: 0 auto;
  padding: 30px 15px;
  align-items: center;
}

.header__site-title {
  font-size: 2.6rem;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header .header__nav-item + .header__nav-item {
  margin-left: 30px;
}

/* MV
===========================*/
.MV {
  position: relative;
  background: url(../../../images/top/fv-bgi_01@2x.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.MV__inner {
  width: 117rem;
  margin: 0 auto;
}

.MV__txt {
  display: inline-block;
  text-align: center;
}

.MV__title {
  padding-top: 33.8rem;
  font-size: 7rem;
  font-weight: bold;
}

.MV__sub-title {
  margin-top: 3.4rem;
  font-size: 4rem;
}

/* MV end
===========================*/
.u-hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .u-hidden-sp {
    display: none !important;
  }
}

@media null {
  .u-hidden-tab {
    display: none !important;
  }
}

@media null {
  .u-hidden-pc {
    display: none !important;
  }
}

.u-mb-10 {
  margin-bottom: 10px !important;
}
/*# sourceMappingURL=style.css.map */