@import "../../foundation/var";

.MV__contact {
  position: relative;
  background: url(#{$bgpath}contact-page-bgi@2x.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 6rem;
  .MV__txt {
    display: block;
  }
  .MV__title {
    margin-bottom: 3rem;
    padding-top: 15rem;
    font-style: italic;
    color: #{$colorWhite};
  }
  .bg__txt {
    color: #{$colorWhite};
  }
}