@import "../foundation/var";

/* -------------------------------------------
base
---------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #282F35;
  letter-spacing: .05em;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  max-width: 120rem;
  width: calc(100% - 15px);
  margin: 0 auto;
}
.section__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 50px 0;
}
.change-color {
  background: #282F35;
}
/* -------------------------------------------
base
---------------------------------------------- */

/* -------------------------------------------
header
---------------------------------------------- */

/* -------------------------------------------
ハンバーガーメニュー
---------------------------------------------- */
#header__buger-checkBox:checked ~ .menu__btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}
#header__buger-checkBox:checked ~ .menu__btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  transition: all .3s;
}/* ボタンがタップされたとき三本線を「×」マークにするための記述 */
#header__buger-checkBox:checked ~ .menu__btn span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: all .3s;
}/* ボタンがタップされたとき三本線を「×」マークにするための記述 */
#header__buger-checkBox {
  display: none;
}/* チェックボックスを消す */
#header__buger-checkBox:checked ~ .header__buger-menu {
  left: 0;/*メニューを画面内へ*/
}





/* -------------------------------------------
ハンバーガーメニュー
---------------------------------------------- */


/* -------------------------------------------
モジュール
---------------------------------------------- */
.title {
  display: flex;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
// sample
  @include mq(sp){
    font-size: 3rem;
  }

  &::after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    margin-left: 4.9rem;
    background-color: #282F35;

    @include mq(sp){
      width: 90px;
    }
  }
}

.bg__txt {
  font-size: 9rem;
  font-weight: bold;
  color: #171717;
  opacity: 0.05;

  @include mq(sp){
    font-size: 4rem;
  }
}
/* -------------------------------------------
モジュール
---------------------------------------------- */


/* -------------------------------------------
header
---------------------------------------------- */

.header {
  position: fixed;
  width: 100%;
  transition: all .3s;
  z-index: 10;
  font-style: italic;

  &__site-title {
    font-size: 2.6rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    // height: 96px;
    padding: 2rem 0;
    &-item + &-item {
      margin-left: 3rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.6rem;

    @include mq(sp){
      display: none;
    }
  }

  &__buger {
    display: none;

    @include mq(sp){
      display: block;

      &-btn {
        position: fixed;
        top: 18px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;

        span,span::before,span::after {
          content: '';
          display: block;
          height: 3px;
          width: 25px;
          border-radius: 3px;
          background-color: #ffffff;
          position: absolute;
        }
        span:before {
          bottom: 8px;
        }
        span:after {
          top: 8px;
        }
      }
    }
  }

  &__buger-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background: #282F35;
    transition: all 0.4s;/*メニューが横から出てくる速度設定*/
  }

  &__list-sp {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }/*メニューを開いた時のリストを中央に*/

  &__buger-link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 2.5rem 0;
    position: relative;
  }
}

// .menu__link--sp {
//   display: block;
//   width: 100%;
//   text-align: center;
//   font-size: 2.4rem;
//   box-sizing: border-box;
//   color:#ffffff;
//   text-decoration: none;
//   padding: 2.5rem 0;
//   position: relative;
// }
/* -------------------------------------------
header end
---------------------------------------------- */


// @media screen and (max-width:1199px) {
//   html {
//       font-size: calc(100vw / 119.9);
//   }
//   .inner {
//       max-width: 110rem;
//   }
// }

// @media screen and (max-width:991px) {
//   html {
//       font-size: calc(100vw / 99.1);
//   }
//   .pc {
//       display: none;
//   }
//   .sp {
//       display: block;
//   }
//   .header__menu {
//       height: 60px;
//   }
//   .hamburger__menu.sp {
//       margin-left: auto;
//   }
//   /* .menu__btn {
//       position: initial;
//   } */
//   .inner {
//       max-width: calc(100% - 4rem);
//   }
//   .card {
//       width: 29rem;
//   }
//   .concept .box {
//       padding-right: 2rem;
//       padding-left: 2rem;
//   }
// }
// @media screen and (max-width:575px) {
//   html {
//       font-size: calc(100vw / 37.5);
//   }
//   .inner {
//       max-width: calc(100% - 15px);
//   }
//   .menu__link--sp {
//       font-size: 1.6rem;
//       padding: 0;
//       margin-bottom: 2rem;
//   }
//   .title {
//       padding-left: 0;
//       margin-bottom: 6.5rem;
//       font-size: 3rem;
//   }
//   .title::after {
//       width: 90px;
//       margin-left: 2.9rem;
//   }
//   .sub-title {
//       font-size: 2rem;
//   }
//   .bg__txt {
//       font-size: 4rem;
//   }
//   .MV__title {
//       font-size: 3.7rem;
//       width: 100%;
//   }
//   .MV__sub-title {
//       font-size: 3rem;
//       width: 28rem;
//       margin-left: auto;
//       margin-right: auto;
//   }

//   .service__txt {
//       font-size: 2rem;
//   }

//   .concept .box {
//       flex-direction: column;
//       padding-left: 0;
//       padding-right: 0;
//   }
//   .concept__txt {
//       margin-bottom: 2rem;
//   }
//   .concept__txt,
//   .concept__img {
//       width: initial;
//   }

//   .card__box {
//       justify-content: center;
//   }
//   .card {
//       width: 32rem;
//   }


//   .service .title {
//       margin-left: 1.5rem;
//   }
//   .service__container {
//       flex-direction: column;
//   }
//   .service__box+.service__box {
//       margin-top: 3rem;
//   }
//   .service .bg__txt {
//       margin-right: 1.5rem;
//   }
// }
